<template>
	<div class="basketWrapper">
		<Header />
		<SubHeader :navigate="navigate" />
			<Breadcrumb>
				<BreadcrumbItem :onClick="() => navigate('back')">Главная</BreadcrumbItem>
				<BreadcrumbItem>Реклама в лифтах</BreadcrumbItem>
				<BreadcrumbItem>Корзина</BreadcrumbItem>
			</Breadcrumb>

		<div class="main-section">
			<div class="main-section__left">
				<DataTable :list-cards="datatableRows" />
			</div>
			<div class="main-section__right">
				<BasketTotal
								total="1 250 000"
								promo="220 000"
								:positions="basketPositions"
								:navigationHandler="navigate"
				/>
				<ul class="points">
					<li class="point">
						<a href="" class="point__link" @click="navigate('back')"> Задать вопрос </a>
					</li>
					<li class="point"><a href="" class="point__link">Скачать PDF</a></li>
				</ul>
			</div>
		</div>
		<Footer :style="{position: 'relative'}" />
	</div>
</template>

<script>
	import SubHeader from "../components/SubHeader";
	import Breadcrumb from "@mplt/ui-kit/src/components/Breadcrumb/Breadcrumb";
	import BreadcrumbItem from "@mplt/ui-kit/src/components/Breadcrumb/BreadcrumbItem";
	import Dropdown from "@mplt/ui-kit/src/components/Dropdown/Dropdown";
	import Footer from "@mplt/ui-kit/src/components/Footer/Footer";
	import Header from "@mplt/ui-kit/src/components/Header/Header";
	import DataTable from "../components/DataTable";
	import BasketTotal from "../components/BasketTotal";

	export default {
		name: "Wrapper",
		data: () => ({
			datatableRows: [
				{
					city: "Эгершельд",
					currentDistrict: { value: 1, text: "1" },
					date: new Date(),
					cost: 100500,
					status: true,
				},
				{
					city: "Эгершельд",
					currentDistrict: { value: 1, text: "1" },
					date: new Date(),
					cost: 100500,
					status: true,
				},
				{
					city: "Эгершельд",
					currentDistrict: { value: 1, text: "1" },
					date: new Date(),
					cost: 100500,
					status: true,
				},
			],
			basketPositions: [
				{ name: "Планов: ", value: 24 },
				{ name: "Лифты: ", value: "5шт." },
				{ name: "Аудитория: ", value: "4000 чел." },
			],
		}),
		components: {
			SubHeader,
			Breadcrumb,
			Dropdown,
			DataTable,
			BasketTotal,
			Header,
			BreadcrumbItem,
			Footer,
		},
		props: {
			navigate: Function,
		},
	};
</script>

<style lang="scss">
	.basketWrapper {
		background-color: #eff3f6;
		height: 75vh;
	}

	.main-section {
		padding: 10px 30px 10px;
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: 2vw;
		margin-bottom: 180px;
	}
	.points {
		margin-left: 2vw;
	}
	.point,
	.point__link {
		color: #00aeef;
	}
	.breadcrumb {
		padding: 10px 30px 0;
	}
</style>