<template>
	<main id="landing">
		<section class="intro">
			<header>
				<div class="container">
					<Logo />

					<nav>
						<Tab>Носители</Tab>
						<Tab>Сервис</Tab>
						<Tab>Контакты</Tab>
					</nav>

					<div class="auth">
						<Button outlined secondary>Войти</Button>
						<Button outlined secondary>Регистрация</Button>
					</div>
				</div>
			</header>

			<div class="content container">
				<div class="intro-text">
					<div>Mediapult позволит вам разместить рекламу в лифтах вашего города в режиме онлайн.</div>
				</div>

				<Button primary :loading="false" extend-class="mr-2" @click="navigate('next')">Попробуй сейчас</Button>
			</div>
		</section>

		<section class="pros">
			<div class="que">Почему реклама в лифтах?</div>
			<div class="pros-list">
				<div class="container">
					<div class="cont-img">
						<ProsImg1 />
					</div>
					<div class="cont-label">Заметно сразу</div>
					<div class="cont-text">
						Каждый день люди используют лифт своего жилого дома, они обязательно внимательно изуча
						предложения, расположенные в лифте.
					</div>
				</div>
				<div class="container">
					<div class="cont-img">
						<ProsImg2 />
					</div>
					<div class="cont-label">Опыт, проверенный многими</div>
					<div
						class="cont-text"
					>Компании давно убедились в эффективности такого продвижения и уже выбрали основным инструментом продвижения рекламу в лифтах</div>
				</div>
				<div class="container">
					<div class="cont-img">
						<ProsImg3 />
					</div>
					<div class="cont-label">Эффективная реклама</div>
					<div
						class="cont-text"
					>При сравнительно невысоких затратах увеличить продажи вашей компании и обойти конкурентов, занимающихся той же деятельностью в определенном районе города</div>
				</div>
				<div class="container">
					<div class="cont-img">
						<ProsImg4 />
					</div>
					<div class="cont-label">Видят все</div>
					<div
						class="cont-text"
					>Каждый день, контактируя с вашей рекламной информацией, люди рано или поздно обратятся именно к вам</div>
				</div>
				<div class="container">
					<div class="cont-img">
						<ProsImg5 />
					</div>
					<div class="cont-label">Легко запомнить</div>
					<div
						class="cont-text"
					>Человек видит сообщение на одном стенде в среднем от 60 до 94 раз в месяц</div>
				</div>
			</div>
		</section>

		<section class="real-time">
			<div class="container">
				<h2>Mediapult в режиме реального времени рассчитает стоимость рекламы в лифтах Хабаровска.</h2>
				<p>Система самостоятельно выставит вам счет на оплату, предоставит все закрывающие документы, а также загрузит фотоотчет в ваш личный кабинет в системе.</p>
				<div class="screens"></div>
			</div>
			<div class="monitors">
				<div class="monix1">
					<!--					<img src="../../static/img/monik1.png">-->
					<MonikOne />
				</div>
				<div class="monix2">
					<!--					<img src="../../static/img/monik2.png">-->
					<MonikTwo />
				</div>
			</div>
		</section>

		<section class="steps">
			<div>
				<h2
					class="headr"
				>Система Mediapult объединила в себе всех владельцев рекламных поверхностей в лифтах Хабаровска.</h2>
				<h2 class="boldheadr">Сервис MediaPult:</h2>
			</div>
			<div class="steps-line">
				<div class="container">
					<div class="cont-img">
						<StepImg1 />
					</div>
					<div class="cont-text">Объединяет данные о всех предложениях и ценах на рекламу в лифтах</div>
				</div>

				<div class="dot-line">
					<PointsImg />
				</div>

				<div class="container">
					<div class="cont-img">
						<StepImg2 />
					</div>
					<div class="cont-text">Показывает в рамках одного web окна всех поставщиков и их цены</div>
				</div>

				<div class="dot-line">
					<PointsImg />
				</div>

				<div class="container">
					<div class="cont-img">
						<StepImg3 />
					</div>
					<div
						class="cont-text"
					>Сравнивает поставщиков по ценам, размеру аудитории и другим важным показателям</div>
				</div>

				<div class="dot-line">
					<PointsImg />
				</div>

				<div class="container">
					<div class="cont-img">
						<StepImg4 />
					</div>
					<div
						class="cont-text"
					>Загружает в личный кабинет фотоотчет о прошедшей рекламной активности и прочие закрывающие</div>
				</div>
			</div>
		</section>

		<section class="cost">
			<div class="lock-icon">
				<LockImg />
			</div>
			<div class="text-part">
				<div class="hdr">Стоимость фиксирована</div>
				<div class="txt">
					Mediapult не берет с рекламодателей комиссию за пользование системой. Система гарантирует, что стоимость,
					отражаемая на сайте MediaPult равна стоимости, которую заявляет владелец рекламной площади в лифтах.
				</div>
			</div>
		</section>

		<section class="action">
			<div class="intro-text">
				<div class="txt">Запустить рекламу в лифтах вашего города!</div>
				<Button primary :loading="false" extend-class="mr-2" @click="navigate('next')">Попробуй сейчас</Button>
			</div>
		</section>

		<Footer :style="{position: 'relative'}" />
	</main>
</template>

<script>
import Footer from "@mplt/ui-kit/src/components/Footer/Footer";
import Logo from "@mplt/ui-kit/src/components/Logo/Logo";
import Button from "@mplt/ui-kit/src/components/Buttons/Button";
import Tab from "@mplt/ui-kit/src/components/Tab/Tab";
import ProsImg1 from "./../../static/img/Pros1.svg";
import ProsImg2 from "./../../static/img/Pros2.svg";
import ProsImg3 from "./../../static/img/Pros3.svg";
import ProsImg4 from "./../../static/img/Pros4.svg";
import ProsImg5 from "./../../static/img/Pros5.svg";

import PointsImg from "./../../static/img/Points.svg";
import StepImg1 from "./../../static/img/Step1.svg";
import StepImg2 from "./../../static/img/Step2.svg";
import StepImg3 from "./../../static/img/Step3.svg";
import StepImg4 from "./../../static/img/Step4.svg";
import LockImg from "./../../static/img/Zamochek.svg";
import MonikOne from "./../../static/img/page-left.svg";
import MonikTwo from "./../../static/img/page-right.svg";

export default {
	name: "Landing",
	components: {
		Footer,
		Logo,
		Tab,
		Button,
		ProsImg1,
		ProsImg2,
		ProsImg3,
		ProsImg4,
		ProsImg5,
		PointsImg,
		StepImg1,
		StepImg2,
		StepImg3,
		StepImg4,
		LockImg,
		MonikOne,
		MonikTwo
	},
	props: {
		navigate: Function
	}
};
</script>

<style lang="scss" scoped>
	@import "@mplt/ui-kit/src/styles/_variables.scss";
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	max-width: 1170px;
}

.intro {
	padding-left: 95px;
	padding-right: 95px;
	height: 615px;
	padding: 0 100px 0;
	background: url("./../../static/img/landing-intro-bg.png") no-repeat;
	background-size: cover;
	background-position: center center;

	header .container {
		height: 71px;
		max-width: 1170px;
		padding: 15px 30px 0;
		margin: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.auth {
			button {
				color: #ffffff;
				border-color: #ffffff;
			}

			button:hover {
				background-color: #ffffff;
				color: black;
			}

			button:focus {
				color: #ffffff;
				border-color: #ffffff;
				background: transparent;
			}
		}
	}

	.content {
		.intro-text {
			margin-top: 175px;
			max-width: 770px;
			font-size: 36px;
			font-weight: 500;
			font-family: "Proxima Nova", Georgia, Monteserrat, sans-serif;
			color: rgb(255, 255, 255);
			line-height: 1;
			text-align: center;
		}

		button {
			border-radius: 30px;
			margin-top: 50px;
			width: 250px;
			height: 55px;
			background-image: -moz-linear-gradient(
				90deg,
				rgb(247, 109, 28) 0%,
				rgb(247, 151, 28) 100%
			);
			background-image: -webkit-linear-gradient(
				90deg,
				rgb(247, 109, 28) 0%,
				rgb(247, 151, 28) 100%
			);
			border-color: rgb(243, 106, 25);
		}
	}
}

.pros {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 615px;
	padding-left: 95px;
	padding-right: 95px;

	.pros-list {
		margin-top: 45px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: space-around;
		font-family: "Proxima Nova", Georgia, Monteserrat, sans-serif;
		justify-content: center;
	}
	.que {
		margin-top: 90px;
		font-size: 32px;
		text-align: left;
		color: rgb(53, 64, 82);
	}

	.container {
		margin: 0 10px 0;
		height: 270px;
		width: 400px;
		text-align: center;

		.cont-img {
			width: 100%;
			height: 140px;
		}

		.cont-label {
			width: 100%;
			height: 30px;
			font-size: 25px;
			color: $info;
		}

		.cont-text {
			margin-top: 15px;
			width: 100%;
			height: 100px;
			font-size: 20px;
		}
	}
}

.real-time {
	padding-top: 228px;
	padding-left: 95px;
	padding-right: 95px;

	h2 {
		max-width: 940px;
		font-size: 32px;
		font-weight: 400;
		font-family: "Proxima Nova", Georgia, Monteserrat, sans-serif;
		color: rgb(0, 174, 239);
		line-height: 1.2;
		text-align: center;
	}

	p {
		max-width: 850px;
		font-size: 18px;
		font-family: "Proxima Nova", Georgia, Monteserrat, sans-serif;
		font-weight: 600;
		color: rgb(53, 64, 82);
		line-height: 1.662;
		text-align: center;
	}

	.monitors {
		position: relative;
		height: 700px;

		.monix1 {
			/*left: 0px;*/
			/*top: 100px;*/
			z-index: 6;
			position: absolute;
			animation-name: leftmonik;
			animation-duration: 4s;
			animation-fill-mode: forwards;
		}
		.monix2 {
			/*right: 0px;*/
			/*top: 140px;*/
			position: absolute;
			animation-name: rightmonik;
			animation-duration: 4s;
			animation-fill-mode: forwards;
		}

		@keyframes leftmonik {
			0% {
				top: 100px;
				left: 0px;
			}
			100% {
				top: 100px;
				left: 130px;
			}
		}

		@keyframes rightmonik {
			0% {
				top: 140px;
				left: 1000px;
			}
			100% {
				top: 140px;
				left: 665px;
			}
		}
	}
}

.steps {
	padding-top: 125px;
	padding-bottom: 125px;
	padding-left: 95px;
	padding-right: 95px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: "Proxima Nova", Georgia, Monteserrat, sans-serif;
	background-color: #06a6ee;

	.steps-line {
		margin-top: 60px;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	.dot-line {
		margin-top: 15px;
	}
	.headr {
		margin: auto;
		max-width: 900px;
		text-align: center;
		color: #ffffff;
		font-size: 32px;
		font-weight: 300;
	}
	.boldheadr {
		margin: auto;
		max-width: 900px;
		text-align: center;
		color: #ffffff;
		font-size: 32px;
		font-weight: 600;
	}
	.container {
		padding-left: 95px;
		padding-right: 95px;
		height: 270px;
		width: 300px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;

		.cont-img {
			width: 65px !important;
			height: 65px !important;
		}

		.cont-label {
			width: 100%;
			height: 30px;
			font-size: 25px;
			color: $info;
		}

		.cont-text {
			margin-top: 30px;
			font-size: 18px;
			color: rgb(254, 254, 255);
			line-height: 1.662;
		}
	}
}

.cost {
	min-height: 420px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-left: 95px;
	padding-right: 95px;

	.lock-icon {
		height: 200px;
		width: 250px;
	}
	.text-part {
		margin-left: 45px;
		margin-top: 115px;
		margin-bottom: 125px;
		max-width: 675px;

		.hdr {
			font-size: 32px;
			font-family: "Proxima Nova", Georgia, Monteserrat, sans-serif;
			color: #06a6ee;
		}
		.txt {
			margin-top: 40px;
			font-family: "Proxima Nova", Georgia, Monteserrat, sans-serif;
			font-size: 18px;
			color: #354052;
		}
	}
}

.action {
	height: 300px;
	padding-left: 95px;
	padding-right: 95px;
	background: $gray-200;

	.intro-text {
		color: #354052;
		font-size: 30px;
		height: 100%;
		width: 100%;
		padding: 80px 15% 0;
		text-align: center;

		.txt {
			font-size: 33px;
			font-weight: 200 !important;
			color: #354052;
		}
		button {
			border-radius: 30px;
			width: 250px;
			height: 55px;
			margin-top: 35px;
			background-image: -moz-linear-gradient(
				90deg,
				rgb(247, 109, 28) 0%,
				rgb(247, 151, 28) 100%
			);
			background-image: -webkit-linear-gradient(
				90deg,
				rgb(247, 109, 28) 0%,
				rgb(247, 151, 28) 100%
			);
			border-color: rgb(243, 106, 25) !important;
		}
	}
}
</style>