<template>
	<div id="main">
		<Header :loggedIn="false" :basket="{}" />
		<SubHeader
			:cardStatus="cardStatus"
			@ChangeCardStatus="setCardStatus($event)"
			:navigate="navigate"
		/>
		<div class="main-container">
			<div class="main-breadcrumb">
				<div>
					<Breadcrumb>
						<BreadcrumbItem>Главная</BreadcrumbItem>
						<BreadcrumbItem :onClick="() => navigate('back')">Реклама в лифтах</BreadcrumbItem>
						<BreadcrumbItem>Пакеты</BreadcrumbItem>
					</Breadcrumb>
				</div>

				<div style="display: flex; justify-content: space-between; width: 40px;">
					<div class="grid_icon" v-bind:class="{ active: format === 1 }" v-on:click="setFormat(1)"></div>
					<div class="list_icon" v-bind:class="{ active: format === 2 }" v-on:click="setFormat(2)"></div>
				</div>
			</div>

			<div class="main_container">
				<MainFilter @selectAudience="setRangeAudience($event)" @selectCost="setRangeCost($event)" />
				<ListOfCards
					:format="format"
					:status-card="cardStatus"
					:range-cost="rangeCost"
					:rangeAudience="rangeAudience"
				/>
			</div>
		</div>

		<Footer :style="{position: 'relative'}" />
	</div>
</template>

<script>
import Header from "@mplt/ui-kit/src/components/Header/Header";

import Footer from "@mplt/ui-kit/src/components/Footer/Footer";
import Breadcrumb from "@mplt/ui-kit/src/components/Breadcrumb/Breadcrumb";
import BreadcrumbItem from "@mplt/ui-kit/src/components/Breadcrumb/BreadcrumbItem";
import ListOfCards from "../components/ListOfCards";
import MainFilter from "../components/MainFilter";
import SubHeader from "../components/SubHeader";

export default {
	components: {
		Breadcrumb,
		BreadcrumbItem,
		ListOfCards,
		MainFilter,
		Header,
		SubHeader,
		Footer
	},
	data() {
		return {
			format: 1,
			rangeAudience: [0, 100000],
			rangeCost: [0, 100000],
			cardStatus: "cost"
		};
	},
	props: {
		navigate: Function
	},
	computed: {},
	methods: {
		setRangeAudience(audience) {
			this.rangeAudience = audience;
		},
		setRangeCost(cost) {
			this.rangeCost = cost;
		},
		setFormat(newFormat) {
			this.format = newFormat;
		},
		setCardStatus(status) {
			this.cardStatus = status;
		}
	}
};
</script>

<style lang="scss" scoped>
#main .main-container {
	margin-bottom: auto;
	display: flex;
	flex-direction: column;
	box-sizing: content-box;
	width: 100%;
}

.main_container {
	padding: 0 30px 10px;
	box-sizing: content-box;
	display: flex;
}

.main-breadcrumb {
	display: flex;
	justify-content: space-between;
	box-sizing: content-box;
	padding: 10px 30px 10px;
}

.grid_icon {
	box-sizing: content-box;
	background: #ced0da;
	clip-path: polygon(
		0 0,
		100% 0,
		100% 100%,
		65% 100%,
		65% 65%,
		100% 65%,
		100% 35%,
		65% 35%,
		65% 0,
		35% 0,
		35% 35%,
		0 35%,
		0 65%,
		35% 65%,
		35% 100%,
		0 100%
	);
	width: 14px;
	height: 14px;
}

.grid_icon.active {
	background: #1c93ed;
}

.list_icon {
	box-sizing: content-box;
	background: #ced0da;
	clip-path: polygon(
		0 0,
		100% 0,
		100% 100%,
		0 100%,
		0 80%,
		100% 80%,
		100% 60%,
		0 60%,
		0 40%,
		100% 40%,
		100% 20%,
		0 20%
	);
	width: 14px;
	height: 14px;
}

.list_icon.active {
	background: #1c93ed;
}
</style>