<template>
  <div class="basket-total">
    <div class="money-info">
      <div class="title">Итого:</div>
      <div class="total">{{ total }}</div>
      <div class="promo">Включая скидку {{ promo }}Р.</div>
    </div>
    <div class="positions">
      <div v-for="position in positions" :key="position.name" class="position">
        {{ position.name }}
        <span class="position__value">{{ position.value }}</span>
      </div>
    </div>
    <SendReq @click.native="navigationHandler('next')" />
  </div>
</template>

<script>
    import SendReq from "./SendReq.vue";
    export default {
        name: "BasketTotal",
        props: {
            total: String,
            promo: String,
            positions: Array,
            navigationHandler: Function,
        },
        components: {
            SendReq,
        },
        data() {
            return {
                separator: "",
                lastChild: false,
            };
        },
    };
</script>

<style lang="scss">
  .basket-total {
    background-color: white;
    border-radius: 4px;
    border: 1px solid #dfe3e9;
    padding: 2vh 0;
    display: grid;
  }
  .money-info {
    text-align: center;
    border-bottom: 1px solid #dfe3e9;
  }
  .title {
    color: #354052;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
  }
  .total {
    color: #00aeef;
    font-size: 40px;
  }
  .promo {
    opacity: 0.7;
    color: #848c98;
    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
  }
  .positions {
    margin: 2vh 1vw;
  }
  .position {
    color: #848c98;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;

    &__value {
      color: #222c3c;
      font-weight: 700;
    }
  }
</style>