<template>
	<div>
		<div class="card format1" v-if="this.format === 1">
			<div class="card_title" v-bind:class="{ booked: this.isCardBooked }">
				<div class="card_city">{{this.card.city}}</div>
				<div class="card_cost">{{(statusCard === "audience")? this.card.audience:this.card.cost}}</div>
				<div class="card_type">{{(statusCard === "audience")? "АУДИТОРИЯ ЧЕЛ":"СТОИМОСТЬ РУБ/МЕС."}}</div>
			</div>
			<div class="card_body">
				<div>
					{{(statusCard === "cost")? "Аудитория: ":"Стоимость: "}}
					<b>{{(statusCard === "cost")? this.card.audience:this.card.cost}}</b>
					{{(statusCard === "cost")? "чел.":"руб/месяц."}}
				</div>
				<div>
					Форма:
					<b>{{this.card.format}}</b>
				</div>
				<div>
					Лифты:
					<b>{{this.card.numberOfLifts}}</b>
				</div>
				<div>
					Компания:
					<b>{{this.card.company}}</b>
				</div>
			</div>
			<div class="card_button">
				<Button primary v-bind:class="{ active: this.card.activeAddress }">Адреса</Button>
				<Button
					secondary
					v-bind:class="{ booked: this.isCardBooked }"
					v-on:click="changeStatus"
				>{{btnText}}</Button>
			</div>
		</div>

		<div class="card format2" v-if="this.format === 2">
			<div class="middle">
				<b>{{this.card.city}}</b>
			</div>
			<div class="small">
				<b>{{this.card.numberOfLifts}}</b>
			</div>
			<div class="middle">
				<b>{{this.card.audience}} чел.</b>
			</div>
			<div class="small">
				<b>{{this.card.format}}</b>
			</div>
			<div class="big">
				<b>{{this.card.company}}</b>
			</div>
			<div class="middle">
				<b>{{this.card.cost}} руб.</b>
			</div>
			<div class="small">
				<Button secondary v-bind:class="{ booked: this.isCardBooked}" v-on:click="changeStatus">+</Button>
			</div>
		</div>
	</div>
</template>

<script>
import "@mplt/ui-kit/src/styles/_variables.scss";
import Button from "@mplt/ui-kit/src/components/Buttons/Button";
export default {
	components: {
		Button
	},
	props: {
		format: {
			type: Number,
			default: 2
		},
		statusCard: {
			type: String,
			default: "cost"
		},
		card: {
			type: Object,
			default: function () {
				return {
					id: 0,
					city: "Эгершельд",
					cost: "20990",
					audience: "24000",
					format: "А4",
					isBooked: false,
					activeAddress: true,
					numberOfLifts: "24",
					company: "Хабаровск-лифт"
				}
			}
		}
	},
	methods: {
		changeStatus() {
			this.card.isBooked = !this.card.isBooked;
		}
	},
	computed: {
		isCardBooked: function() {
			return this.card.isBooked;
		},
		btnText: function() {
			if (this.card.isBooked) {
				return "Удалить";
			}
			return "В корзину";
		}
	}
};
</script>

<style lang="scss" scoped>
.card {
	display: flex;
	flex-direction: column;
	margin: 0 20px 40px;
}
/*
.secondary_icon.booked {
    height: 14px;
    width: 14px;
    background: black;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.secondary_icon {
    height: 14px;
    width: 14px;
    background: black;
    clip-path: polygon(0 35%, 35% 35%, 35% 0%, 65% 0%, 65% 35%, 100% 35%, 100% 65%, 65% 65%, 65% 100%, 35% 100%, 35% 65%, 0 65%);
}
*/
.card.format2 {
	align-self: flex-start;
	flex-direction: row;
	margin: 0;
	width: 100%;
	height: 60px;
	border: none;
	border-top: 1px solid rgb(230, 234, 238);
	padding: 0 15px 0;
	background: white;
	justify-content: space-between;
	div {
		text-align: center;
		line-height: 60px;
	}
	.small {
		min-width: 60px;
	}
	.middle {
		min-width: 100px;
	}
	.big {
		min-width: 130px;
	}
}

.card_title {
	box-sizing: border-box;
	text-align: center;
	border: 1px solid rgb(230, 234, 238);
	border-bottom: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: white;
	color: black;

	width: 270px;
	height: 130px;
	padding: 20px 20px 20px;

	.card_city {
		opacity: 0.95;
		font-size: 16px;
	}
	.card_cost {
		color: $button-primary-border-color;
		font-size: 48px;
	}
	.card_type {
		opacity: 0.7;
		font-size: 12px;
	}
}

.card_title.booked {
	border: 0;
	color: $white;
	background: $button-primary-border-color;
	.card_cost {
		color: $white;
		font-size: 48px;
	}
}

.card_body {
	border: 1px solid rgb(230, 234, 238);
	border-bottom: 0;

	flex-direction: column;
	display: flex;
	box-sizing: border-box;
	width: 270px;
	height: 120px;
	padding: 10px 20px 0;
	font-size: 16px;
	background: white;
	div {
		padding: 3px;
	}
}

.card_button {
	border: 1px solid rgb(230, 234, 238);
	border-top: 0;
	flex-direction: row;
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	width: 270px;
	height: 55px;
	padding: 0 20px 5px;
	font-size: 16px;
	background: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.card.format1 {
	.btn {
		margin-bottom: 15px;

		&-primary.active {
			color: $button-primary-border-color;
			background: $white;
			border: 1px solid $button-primary-border-color !important;

			&:hover {
				background: $button-primary-bg-color-on-hover;
				color: $button-primary-color;
			}
		}

		&-primary {
			height: 36px;
			width: 100px;
			color: $black;
			background: white;
			border: 1px solid #ced0da !important;

			&:hover {
				color: $black;
			}
		}

		&-secondary {
			height: 36px;
			width: 100px;
			border: 1px solid $button-secondary-border-color !important;
			background: $button-secondary-bg-color;
			color: $button-secondary-color;

			&:hover {
				background: $button-secondary-bg-color-on-hover;
			}
		}

		&-secondary.booked {
			border: 1px solid $button-secondary-border-color !important;
			background: $white;
			color: $button-secondary-border-color;

			&:hover {
				background: $button-secondary-bg-color-on-hover;
				color: white;
			}
		}
	}
}
.card.format2 {
	.btn {
		height: 30px;
		width: 30px;
		border-radius: 50px;
		border: none !important;
		&-secondary {
			color: white;
			border: none;
			background: $button-badge-color;
		}

		&-secondary.booked {
			border: none;
			background: $button-danger-bg-color;
		}
	}
}
</style>