<template>
	<label :for="id" :class="['checkbox']">
		<input
			:id="id"
			:checked="checked"
			type="checkbox"
			:name="name"
			:disabled="false"
			@change="handleChange($event)"
		/>

		<div :class="['check', 'normal','success', 'tick']" />
		<div :class="['label']">{{ label }}</div>
	</label>
</template>

<script>
import "@mplt/ui-kit/src/styles/_variables.scss";

export default {
	name: "Checkbox",
	props: {
		name: {
			type: String
		},
		checked: {
			type: Boolean,
			default: false
		},
		label: {
			type: String,
			default: ""
		},
		success: Boolean
	},
	data: function() {
		return {
			selected: false,
			id: null
		};
	},
	mounted() {
		this.id = this._uid;
	},
	methods: {
		handleChange(evt) {
			console.log("Checkbox clicked, will change value now");
			this.$emit("change", evt);
		}
	}
};
</script>

<style lang="scss" scoped>
.checkbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1rem;
	line-height: 25px;
	cursor: pointer;

	.check {
		transition: box-shadow 0.4s, background-color 0.4s;
		max-width: 15px;
		width: 100%;
		border-radius: 4px;
		min-width: 15px;
		max-height: 15px;
		min-height: 15px;

		margin-right: 10px;
		border: 1px solid currentColor;
		position: relative;

		&.sm {
			transform: scale(0.75);
			margin-right: 4px;
		}

		&.normal,
		&.md {
			transform: scale(1.2);
			margin-right: 8px;
		}

		&.lg {
			transform: scale(1.6);
			margin-right: 12px;
		}

		&::after,
		&::before {
			content: "";
			position: absolute;
			display: none;
		}

		&.tick::after {
			left: 4.5px;
			bottom: 3px;
			width: 4px;
			height: 9px;
			border: solid #fff;
			border-width: 0 1.5px 1.5px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}

	input[type="checkbox"] {
		visibility: hidden;
		position: absolute;

		&:focus {
			~ .check {
				box-shadow: 0 0 0 2px rgba($primary, 0.3);
			}
		}

		&:active {
			~ .check {
				background-color: currentColor;
				border-color: currentColor;
				box-shadow: none;

				&.success {
					background-color: $success;
					border-color: $success;
				}
			}
		}

		&:checked {
			~ .check {
				border-color: currentColor;
				background-color: currentColor;

				&.success {
					background-color: $success;
					border-color: $success;
				}
			}

			~ .check::before,
			~ .check::after {
				display: block;
			}
		}
	}

	&:hover {
		input[type="checkbox"] {
			~ .check {
				border-color: #0095ff;
				box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
			}

			&:checked ~ .check {
				border-color: transparent;
			}
		}
	}
}
.label {
	margin: 0;
	padding: 0;
	height: 25px;
}
</style>