<template>
  <div class="datatable">
    <div class="datatable__header">
      <div class="datatable__cell" v-bind:class="data.gridStyleWidth" v-for="data in dataTable"> {{ data.value }} </div>
    </div>
    <div
            class="datatable__row"
            v-for="(row, index) in listCards"
            v-if="row.status === true"
            :key="index"
    >

      <div class="datatable__cell middle">
        <span> {{row.city}} </span>
      </div>

      <div class="datatable__cell small">
        <Dropdown v-model="row.currentDistrict" :items="items" :showChevron="true"></Dropdown>
      </div>

      <div class="datatable__cell middle">
        <span> {{row.cost}} </span>
      </div>

      <div class="datatable__cell big">
        <Calendar @input="row.date = $event"></Calendar>
      </div>

      <div class="datatable__cell small">
        <Trash v-on:click="row.status = false"/>
      </div>

    </div>
  </div>
</template>

<script>
    import Dropdown from "@mplt/ui-kit/src/components/Dropdown/Dropdown";
    import Trash from "../../static/img/trash_icon.svg";
    import Calendar from "@mplt/ui-kit/src/components/Calendar/Calendar";

    export default {
        name: "DataTable",
        props: {
            listCards: {
                type: Array,
                default: [
                    {
                        city: "Эгершельд",
                        currentDistrict: { value: 1, text: "1" },
                        date: new Date(),
                        cost: 100500,
                        status: true,
                    },
                ]
            }
        },
        components: {
            Trash,
            Calendar,
            Dropdown
        },
        data() {
            return {
                items: [
                    {
                        "value": 1,
                        "text": "1"
                    },
                    {
                        "value": 2,
                        "text": "2"
                    },
                    {
                        "value": 3,
                        "text": "3"
                    },
                    {
                        "value": 4,
                        "text": "4"
                    },
                    {
                        "value": 5,
                        "text": "5"
                    },
                    {
                        "value": 6,
                        "text": "6"
                    },
                ],
                dataTable: [
                    {
                        value: "Название",
                        gridStyleWidth: "middle",
                    },
                    {
                        value: "Срок",
                        gridStyleWidth: "small",
                    },
                    {
                        value: "Стоимость",
                        gridStyleWidth: "middle",

                    },
                    {
                        value: "Дата запуска",
                        gridStyleWidth: "big",
                    },
                    {
                        value: "",
                        gridStyleWidth: "small",
                    },
                ],
                gridRow: {
                    display: "grid",
                    placeItems: "center",
                    textAlign: "center",
                    gridTemplateColumns: "1fr",
                },
            };
        },

        methods: {},
    };
</script>

<style lang="scss">
  .datatable {
    background-color: white !important;
    display: flex;
    border: 1px solid rgb(230, 234, 238);
    flex-direction: column;
    box-sizing: border-box;

    .datatable__header {
      padding: 10px 20px 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #eff3f6;
      height: 40px;
    }

    .datatable__row {
      padding: 20px;
      border-top: 1px solid rgb(230, 234, 238);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 75px;
    }
  }
  .datatable__cell.big {
    min-width: 160px;
    text-align: center;
  }
  .datatable__cell.middle {
    min-width: 100px;
    text-align: center;
  }
  .datatable__cell.small {
    min-width: 60px;
    text-align: center;
  }
</style>