<template>
	<div style="width: 100%; box-sizing: border-box; padding-left: 30px; margin-bottom: auto">
		<div class="list_cards format1" v-if="this.format === 1">
			<div class="card-wrapper" :key="card.id" v-for="card in this.cards">
				<Card
					v-if="card.cost >= rangeCost[0] && card.cost <= rangeCost[1] && card.audience >= rangeAudience[0] && card.audience <= rangeAudience[1]"
					:card="card"
					:format="1"
					:status-card="statusCard"
				/>
			</div>
		</div>

		<div class="list_cards format2" v-if="this.format === 2">
			<div class="list-header">
				<div class="middle">Район</div>
				<div class="small">Лифтов</div>
				<div class="middle">Аудитория</div>
				<div class="small">Формат</div>
				<div class="big">Компания</div>
				<div class="middle">Стоймость</div>
				<div class="small"></div>
			</div>

			<div class="card-wrapper" :key="card.id" v-for="card in this.cards">
				<Card
					v-if="card.cost >= rangeCost[0] && card.cost <= rangeCost[1] && card.audience >= rangeAudience[0] && card.audience <= rangeAudience[1]"
					:card="card"
					:format="2"
					:status-card="statusCard"
				/>
			</div>
		</div>
	</div>
</template>

<script>
import Card from "./Card";
import axios from "axios";
import { getConfig } from "@ijl/cli";

export default {
	name: "ListOfCards",
	components: {
		Card
	},
	data() {
		return {
			cards: undefined
		};
	},
	props: {
		format: {
			type: Number,
			default: 2
		},
		statusCard: {
			type: String,
			default: "cost"
		},
		rangeAudience: {
			type: Array,
			default: function () { return [0, 100000] }
		},
		rangeCost: {
			type: Array,
			default: function () { return [0, 100000] }
		}
	},
	methods: {
		async getCards() {
			await axios
				.get(`${getConfig()["elevator.api.base.url"]}/cards`)
				.then(response => {
					this.cards = response.data.cards;
				});
		}
	},
	beforeMount() {
		this.getCards();
	}
};
</script>

<style lang="scss" scoped>
.list_cards {
	flex-wrap: wrap;
	display: flex;
	box-sizing: border-box;

	&.format1 {
		min-height: 500px;
		justify-content: center;
		flex-direction: row;
	}

	&.format2 {
		.list-header {
			display: flex;
			height: 30px;
			justify-content: space-between;
			background-color: #eff3f6;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			padding: 0 15px 0;
		}
		border-radius: 4px;
		overflow: hidden;
		border: 1px solid rgb(230, 234, 238);
		width: 100%;
		flex-direction: column;
		div {
			text-align: center;
			line-height: 30px;
		}
		.small {
			min-width: 60px;
		}
		.middle {
			min-width: 100px;
		}
		.big {
			min-width: 130px;
		}
	}
}

.card {
	display: flex;
	flex-direction: column;
	margin: 0 20px 40px;
}
/*
.secondary_icon.booked {
    height: 14px;
    width: 14px;
    background: black;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.secondary_icon {
    height: 14px;
    width: 14px;
    background: black;
    clip-path: polygon(0 35%, 35% 35%, 35% 0%, 65% 0%, 65% 35%, 100% 35%, 100% 65%, 65% 65%, 65% 100%, 35% 100%, 35% 65%, 0 65%);
}
*/
.card.format2 {
	align-self: flex-start;
	flex-direction: row;
	margin: 0;
	width: 100%;
	height: 60px;
	border: none;
	border-top: 1px solid rgb(230, 234, 238);
	padding: 0 15px 0;
	background: white;
	justify-content: space-between;
	div {
		text-align: center;
		line-height: 60px;
	}
	.small {
		min-width: 60px;
	}
	.middle {
		min-width: 100px;
	}
	.big {
		min-width: 130px;
	}
}
</style>