<template>
	<div class="main_filter">
		<div class="filter_title">РАЙОН</div>
		<div class="filter_dropdown">
			<Dropdown v-model="currentDistrict" :items="districts" :showChevron="true">
				<template slot="trigger">
					<p>{{currentDistrict.text}}</p>
				</template>
			</Dropdown>
		</div>
		<div class="filter_title">ФОРМАТЫ:</div>
		<div>
			<Checkbox label="Один формат" />
			<Checkbox label="Другой формат" />
			<Checkbox label="Третий формат" />
		</div>
		<div class="filter_title">АУДИТОРИЯ</div>
		<div class="range_selector">
			<RangeSelector
				:value="[0, 120000]"
				:interval="1"
				:min="0"
				:max="120000"
				:height="5"
				:showIntervalText="true"
				@select="setRangeAudience($event)"
			/>
		</div>

		<div class="filter_title">ЦЕНА</div>
		<div class="range_selector">
			<RangeSelector
				:value="[0, 120000]"
				:interval="1"
				:min="0"
				:max="120000"
				:height="5"
				:showIntervalText="true"
				@select="setRangeCost($event)"
			/>
		</div>
	</div>
</template>

<script>
import Checkbox from "./Checkbox";
import RangeSelector from "@mplt/ui-kit/src/components/RangeSelector/RangeSelector";
import Dropdown from "@mplt/ui-kit/src/components/Dropdown/Dropdown";
import axios from "axios";
import { getConfig } from "@ijl/cli";
export default {
	components: {
		Dropdown,
		RangeSelector,
		Checkbox
	},
	data() {
		return {
			currentDistrict: { value: 2, text: "Хабаровский" },
			districts: [],
			valueRangeCost: [0, 100000],
			valuerangeAudience: [0, 100000]
		};
	},
	methods: {
		async getDistricts() {
			await axios
				.get(`${getConfig()["elevator.api.base.url"]}/districts`)
				.then(response => {
					this.districts = response.data.districts;
				});
		},
		setRangeAudience(range) {
			this.valuerangeAudience = range;
			this.$emit("selectAudience", range);
		},
		setRangeCost(range) {
			this.valueRangeCost = range;
			this.$emit("selectCost", range);
		}
	},
	beforeMount() {
		this.getDistricts();
	}
};
</script>

<style lang="scss" scoped>
.main_filter {
	border-width: 1px;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: rgb(255, 255, 255);
	width: 350px;
	height: 479px;
	display: flex;
	padding: 20px;
	flex-direction: column;
}

.dropdown {
	width: 100%;
}

.filter_title {
	font-size: 12px;
}

.filter_dropdown {
	margin: 5px 0 10px;
}

.checkbox {
	margin: 0 0 5px;
}

.range_selector {
	margin: 50px 8px 30px;
}
</style>