<template>
  <button class="shop-button">Отправить заявку</button>
</template>

<script>
    export default {
        name: "SendReq",
    }
</script>

<style scoped>
  .shop-button {
    background-image: linear-gradient(to top, #f76d1c 0%, #f7971c 100%);
    border: 1px solid #f36a19;
    width: 17vw;
    height: 5vh;
    color: #fff;
    font-family: "Proxima Nova - Semibold",serif;
    font-size: 14px;
    border-radius: 5px;
    justify-self: center;
  }

  .shop-button:hover {
    box-shadow: 0 0 0 2px #f76d1c;
  }

  .shop-button:focus {
    outline: none;
    background-image: linear-gradient(to top, #b65b1b 0%, #f7a100 100%);
  }

  .plus {
    font-size: 18px;
    margin-right: 10px;
  }
</style>