<template>
	<div class="subheader">
		<div class="subheader_left">
			<div class="container text">Город:</div>
			<div class="container city">{{this.city}}</div>
		</div>
		<div class="subheader_center">
			<div class="container">СОРТИРОВКА:</div>
			<div
				class="container"
				v-bind:class="{active: cardStatus === 'cost'}"
				v-on:click="setCardStatus('cost')"
			>Цена</div>
			<div
				class="container"
				v-bind:class="{active: cardStatus === 'audience'}"
				v-on:click="setCardStatus('audience')"
			>Аудитория</div>
		</div>

		<div class="subheader_right">
			<div class="container button">
				<Button success @click="navigate('next')">Далее</Button>
			</div>
		</div>
	</div>
</template>

<script>
import Button from "@mplt/ui-kit/src/components/Buttons/Button";
export default {
	components: {
		Button
	},
	data() {
		return {
			city: "Хабаровск",
		};
	},
	props: {
		navigate: Function,
		cardStatus: String
	},
	methods: {
		setCardStatus(status) {
			this.$emit("ChangeCardStatus", status);
		}
	}
};
</script>

<style lang="scss" scoped>
.subheader {
	padding: 0 25px 0;
	height: 70px;
	width: 100%;
	box-sizing: border-box;
	background-color: white;
	text-align: center;
	display: flex;
	justify-content: space-between;
}

.subheader_left,
.subheader_center,
.subheader_right {
	display: flex;
	justify-content: center;
}

.container {
	color: #bbc2ce;
	font-size: 14px;
	padding: 25px 0 0;
	min-width: 80px;
}

.container.button {
	padding-top: 17px;
	font-size: 14px;
}

.container.city {
	font-size: 14px;
	font-weight: bold;
	padding: 25px 0 0;
	min-width: 50px;
	color: black;
}

.container.text {
	font-size: 14px;
	padding: 25px 0 0;
	min-width: 50px;
	color: black;
}

.container.active {
	color: black;
	border-bottom: 3px solid #0f9dec;
}

.btn {
	height: 35px;
	width: 90px;
}
</style>