<template>
	<div id="app">
		<Component v-if="currentView" :is="currentView" :navigate="navigate" />
	</div>
</template>

<script>
import axios from "axios";
import Landing from "./views/Landing";
import Main from "./views/Main";
import Basket from "./views/Basket";
import "@mplt/ui-kit/src/styles/fonts.scss";
import "@mplt/ui-kit/src/styles/_variables.scss";
import { getConfig } from "@ijl/cli";

export default {
	name: "App",
	data() {
		return {
			currentView: null,
			views: {
				transportFlow: {
					landing: Landing,
					adSelection: Main,
					basket: Basket
				},
				elevatorFlow: {
					landing: Landing,
					main: Main,
					basket: Basket
				}
			}
		};
	},
	components: {
		Main,
		Landing,
		Basket
	},
	methods: {
		async sendStateEvent(params) {
			await axios
				.get(`${getConfig()["elevator.api.base.url"]}/workflow`, {
					withCredentials: true,
					params
				})
				.then(({ data: { flowName, stateName } }) => {
					this.flowName = flowName;
					this.stateName = stateName;
					this.currentView = this.views[flowName][stateName];
					this.loading = false;
				})
				.catch(console.error);
		},
		navigate(eventName) {
			this.sendStateEvent({
				name: eventName,
				cmd: "event"
			});
		}
	},
	created() {
		this.sendStateEvent({
			name: "elevatorFlow",
			cmd: "start"
		});
	}
};
</script>

<style lang="scss">
body {
	margin: 0;
	padding: 0;
	background-color: #eff3f6;
	font-family: "Proxima Nova", Georgia, Monteserrat, sans-serif;
}
</style>