@import '~styles/main';

$static_path: '/static/transport/1.0.0/';

// $font-family: "Proxima Nova - Semibold";
// $font-size-standard: 14px;
// $font-size-h1: 18px;
// $font-weight: 400;
// $font-color: #7f8fa4;

// $h1-color: #1d2531;

// * {
//     font-family: $font-family;
//     font-size: $font-size-standard;
//     font-weight: $font-weight;
//     color: $font-color;
// }
// body {
//     margin: 0;
// }
// h1 {
//     color: $h1-color;
//     font-size: $font-size-h1;
// }
